@use 'resets';
@use 'variables' as v;

body {
    font-family: v.$font;
}
header {
    background-color: v.$midGrey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: v.$white;
    ul {
        list-style: none;
    }
    li {
        display: inline-block;
        padding: 20px 15px;
        font-size: 18px;
        cursor: pointer;
        &:hover {
            background-color: v.$black;
        }
        &.active {
            background-color: v.$midDarkAmber;
        }
    }
    .logo {
        display: inline-block;
        font-weight: v.weight(bold);
        font-size: 20px;
        padding-left: 15px;
    }
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    &::before {
        content: '';
        position: absolute;
        display: block;
        width: 100%;
        height: 500px;
        background-color: v.$black;
        top: 0;
        z-index: -1;
        opacity: .75;
    }
    img {
        width: 100%;
        height: 500px;
        object-fit: cover;
        z-index: -2;
        position: absolute;
        top: 0;
       
    }
    h1 {
        padding-bottom: 100px;
        color: v.$white;
        text-align: center;
        font-size: 48px;
        &::after {
            content: '';
            display: block;
            position: absolute;
            background-color: v.$midDarkAmber;
            height: 5px;
            width: 150px;
            left: 50%;
            margin-left: -75px;
        }
    }
    
}

.content {
    
}